<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}DustinDotPy{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/#projects">Projects</a>
        <a href="/#aboutme">About</a>
        <a href="/#blog">Blog</a>
        <a href="/#resume">Resume</a>
        <a href="/thmprofile">THM Profile</a>
        <a href="https://github.com/dustin-py">GitHub</a>
        <a href="https://linkedin.com/in/dustinstri92">LinkedIn</a>
    </div>
    {% block content %}
    <link rel="stylesheet" href="../static/css/base.css">
    <div class="container">
        <div class="box" id=box1>
            ABOUT:    
        </div>
        <div class="box" id=box2>
            PROJECTS:
        </div>
        <div class="box" id=box3>
            BLOGS:
        </div>
        <div class="box" id=box4>
            TBD:
        </div>
    </div>
    {% endblock %}
</body>
</html>