{% extends './base.html' %}

{% block title %}
THM Badges
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../../static/css/badges.css">
<div class="container">
    {% for item in badge_data %}
        <div class="badge_container" id="badge">
            <img id="badge_image" src="../../static/images/{{item.3}}" width="150" height="150">        
            <div id="badge_text">
                <b><h2>thm:~/{{item.1}}</h2></b>
                <br>
                <div>$: {{item.2}}</div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}