{% extends './base.html' %}

{% block title %}
THM Profile
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/profile.css">
<h1>User: dustin-py</h1>
<div class="container">
    <div class="card" id="card_1">
        <h2><b>General Stats:</b></h3>
        <br>
        <h3><b>~/Level$ </b><u>11</u></h3>
        <h3><b>~/Rank$ </b><u>1681 / 309886</u></h3>
        <h3><b>~/Day_Streak$ </b><u>14</u></h3>
        <h3><b>~/Total_Badges$ </b><u>13</u></h3>
        <h3><b>~/Questions$ </b><u>80 answered this week</u></h3>
    </div>
    <div class="card" id="card_2">
        <a href="./thmbadges">
            <img id="bdg_img" src="../static/images/linuxprivesc.svg">
        </a>
            <h2><b>Badges:</b></h2>
        <h3>
            <b>Click the penguin
            <br>
            to view badges!
            </b>
        </h3>
    </div>
    <div class="card" id="card_3">
        <h3><b>Write Ups/Blogs:</b></h3>
        <br>
        TBA...
    </div>
    <div class="card" id="card_4">
        <a href="tryhackme.com" style="color: white;">
        <h1><b>Click here to start your journey!!</b></h3>
        </a>
    </div>
</div>
{% endblock %}